{% extends 'content_base.html' %}
{% load static %}
{% load acj_tags %}

{% block title %}
    {{ contest.title }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/contests/contest_base.css' %}">
    <script src="{% static 'js/tabs.js' %}"></script>
    <div class="container">
        <h1 class="title">{{ contest.title }}</h1>
        <p class="info">{{ contest.start_time|date:"d.m.Y H:i" }}, {% hours_between contest.start_time contest.end_time %}</p>
        <div class="tabs">
            <a class="no-decoration tab" id="problems-tab" href="{% url 'contest_problems' contest.id %}">Задачи</a>
            <a class="no-decoration tab" id="submissions-tab" href="{% url 'contest_submissions' contest.id %}">Попытки</a>
            <a class="no-decoration tab" id="results-tab" href="{% url 'contest_results' contest.id %}">Результаты</a>
            <a class="no-decoration tab"></a>
        </div>
        {% block inner-content %}
        {% endblock %}
    </div>
{% endblock %}