{% extends 'contests/contest_base.html' %}
{% load static %}

{% block inner-content %}
    <link rel="stylesheet" href="{% static 'css/contests/contest_problems.css' %}">
    <h2 class="title">Задачи</h2>

    {% if not contest.is_started and contest.hide_problems_until_start %}
        <p>Задачи скрыты до начала турнира</p>
    {% else %}
        <table class="default-table">
            <thead>
                <tr>
                    <th class="td-forced">#</th>
                    <th class="text-left">Название</th>
                    <th class="td-forced">Статус</th>
                    <th class="td-forced">Время</th>
                    <th class="td-forced">Память</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                    <tr>
                        <td class="td-forced">{{ problem.letter }}</td>
                        <td class="title">
                            <a class="no-decoration" href="{% url 'contest_problem_detail' contest.id problem.get_id %}">
                                {{ problem.get_title }}
                            </a>
                        </td>
                        <td class="td-forced">
                            {% if request.user.is_authenticated %}
                                {% if problem.problem.id in solved_problems %}
                                    <span class="status-solved">Решена</span>
                                {% else %}
                                    <span class="status-unsolved">Не решена</span>
                                {% endif %}
                            {% else %}
                                <span class="status-unknown"></span>
                            {% endif %}
                        </td>
                        <td class="td-forced">{{ problem.get_time_limit }} сек</td>
                        <td class="td-forced">{{ problem.get_memory_limit }} МБ</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    {% if request.user.is_authenticated %}
        {% if not participant %}
            <form class="participantion-form" action="{% url 'join_contest' contest.id %}" method="post">
                {% csrf_token %}
                {% if not contest.is_finished %}
                    <button type="submit" class="primary-btn">Участвовать</button>
                {% else %}
                    <p class="italic">Турнир уже завершился, но вы можете поучаствовать виртуально.</p>
                    <button type="submit" class="primary-btn">Участвовать виртуально</button>
                {% endif %}
            </form>
        {% endif %}
    {% else %}
        <p class="login-to-participate italic">Войдите в аккаунт, чтобы иметь возможность участвовать в турнире.</p>
    {% endif %}
    <script>setActiveTab("problems");</script>
{% endblock %}