{% extends 'content_base.html' %}
{% load static %}
{% load acj_tags %}

{% block title %}
   Контесты
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/contests/contests_list.css' %}">
    <div class="dc-wrapper">
        <div class="container filters">
            <h1 class="title">Фильтрация</h1>
            <form method="get" action="{% url 'contests_list' %}">
                <input type="search" name="title" placeholder="Название контеста..." value="{{ search_query }}"/>
                <button type="submit" class="primary-btn" id="search-btn"><i class="fi fi-rr-search"></i></button>
            </form>
            <div class="categories">
                <a class="no-decoration default-btn" href="{% url 'home' %}">Все</a>
                <a class="no-decoration default-btn" href="{% url 'contests_list' %}?favorites=true">Избранные</a>
            </div>
        </div>
        <div class="container contests">
            <table class="contests-table">
                <thead>
                  <tr>
                    <th width="1%"></th>
                    <th width="1%"></th>
                    <th width="42%">Название</th>
                    <th width="20%">Начало</th>
                    <th width="18%">Длительность</th>
                    <th width="18%">Примечание</th>
                  </tr>
                </thead>
                <tbody>
                    {% for contest, participant in contests_data %}
                        <tr>
                            <td><a class="no-decoration favorite-btn" href="{% url 'toggle_favorite_contest' contest.id %}"
                                   data-contest-id="{{ contest.id }}" data-csrf-token="{{ csrf_token }}">
                                <i class="fi fi-rr-star{% if contest.id in favorite_contests %} favorite{% endif %}"></i></a></td>
                            <td><a class="no-decoration results-btn" href="{% url 'home' %}"><i class="fi fi-rr-leaderboard-trophy"></i></a></td>
                            <td class="title"><a class="no-decoration" href="{% url 'contest' contest.id %}">{{ contest.title }}</a></td>
                            <td class="start-time">{{ contest.start_time|date:"d.m.Y H:i" }}</td>
                            <td class="duration">{% hours_between contest.start_time contest.end_time %}</td>
                            <td class="note">
                                {% if contest.is_finished %}
                                    завершен
                                {% elif not contest.is_public %}
                                    скрытый
                                {% endif %}
                                {% if participant %}
                                    {% if participant.is_virtual %}
                                        виртуальный участник
                                    {% else %}
                                        участник
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'js/favorites.js' %}"></script>
{% endblock %}