{% extends 'content_base.html' %}
{% load static %}
{% load acj_tags %}

{% block title %}
    {{ contest.title }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/contests/contest_detail.css' %}">
    <div class="container">
        <h1 class="title">{{ contest.title }}</h1>
        <p class="info">{{ contest.start_time|date:"d.m.Y H:i" }}, {% hours_between contest.start_time contest.end_time %}</p>
        <div class="tabs">
            <a class="no-decoration tab" href="#">Задачи</a>
            <a class="no-decoration tab" href="#">Попытки</a>
            <a class="no-decoration tab" href="#">Результаты</a>
        </div>
        <div class="problems-table">
            <h2 class="title">Задачи</h2>
            <table>
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th width="50%">Название</th>
                        <th width="49%">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contest_problem in contest_problems %}
                        <tr>
                            <td class="letter">
                                {{ contest_problem.letter }}
                            </td>
                            <td class="title">
                                <a class="no-decoration" href="{% url 'contest_problem_detail' contest.id contest_problem.get_id %}">
                                    {{ contest_problem.get_title }}
                                </a>
                            </td>
                            <td class="status">
                                {% if request.user.is_authenticated %}
                                    {% if contest_problem.problem.id in solved_problems %}
                                        <span class="status-solved">Решена</span>
                                    {% else %}
                                        <span class="status-unsolved">Не решена</span>
                                    {% endif %}
                                {% else %}
                                    <span class="status-unknown"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if request.user.is_authenticated %}
            {% if not participant %}
                <form action="{% url 'join_contest' contest.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-primary">Участвовать</button>
                </form>
            {% endif %}
        {% else %}
            <p>Войдите в аккаунт, чтобы иметь возможность участвовать в турнире</p>
        {% endif %}
    </div>
{% endblock %}