{% extends 'content_base.html' %}
{% load static %}
{% load acj_tags %}

{% block title %}
   Контесты
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/contests/contests_list.css' %}">
    <div class="dc-wrapper">
        <div class="container search">
            <h1 class="title text-center">Поиск</h1>
            <form method="GET" action="{% url 'contests_list' %}">
                <input type="search" name="title" placeholder="Название контеста..." value="{{ search_query }}"/>
                <button type="submit" class="primary-btn" id="search-btn"><i class="fi fi-rr-search"></i></button>
            </form>
            <div class="categories">
                <a class="no-decoration default-btn" href="{% url 'home' %}">Все</a>
                <a class="no-decoration default-btn" href="{% url 'contests_list' %}?favorites=true">Избранные</a>
            </div>
        </div>
        <div class="container contests">
            <table class="contests-table">
                <thead>
                  <tr>
                    <th width="2.6%"></th>
                    <th width="2%"></th>
                    <th class="text-left">Название</th>
                    <th width="20%">Начало</th>
                    <th width="16%">Длительность</th>
                    <th width="18%">Примечание</th>
                  </tr>
                </thead>
                <tbody>
                    {% for contest, participant in contests_data %}
                        <tr>
                            <td class="icon">
                                <a class="no-decoration favorite-btn" href="{% url 'toggle_favorite_contest' contest.id %}"
                                    data-contest-id="{{ contest.id }}" data-csrf-token="{{ csrf_token }}">
                                    <i class="fi fi-rr-star {% if contest.id in favorite_contests %}golden{% endif %}"></i>
                                </a>
                            </td>
                            <td class="icon">
                                <a class="no-decoration results-btn" href="{% url 'contest_results' contest.id %}">
                                    <i class="fi fi-rr-leaderboard-trophy"></i>
                                </a>
                            </td>
                            <td class="title">
                                <a class="no-decoration" href="{% url 'contest' contest.id %}">{{ contest.title }}</a>
                            </td>
                            <td class="text-muted">{{ contest.start_time|date:"d.m.Y H:i" }}</td>
                            <td class="text-muted">{% hours_between contest.start_time contest.end_time %}</td>
                            <td class="text-muted">
                                {% if contest.is_finished %}
                                    завершен
                                {% elif not contest.is_public %}
                                    скрытый
                                {% endif %}
                                {% if participant %}
                                    {% if participant.is_virtual %}
                                        виртуальный участник
                                    {% else %}
                                        участник
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not contests_data %}
                <p class="no-contests">Нет контестов</p>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/favorites.js' %}"></script>
{% endblock %}