{% extends 'content_base.html' %}
{% load static %}
{% load acj_tags %}

{% block title %}
    Детали
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/contests/submission_detail.css' %}">
    <div id="data-translator" data-submission-id="{{ submission.id }}" data-is-checking="{{ is_checking }}"></div>
    <div class="container">
        <h1 class="title">Информация о попытке</h1>
        <table class="default-table info-table">
            <tr>
                <th>ID</th>
                <td>{{ submission.id }}</td>
            </tr>
            <tr>
                <th>Пользователь</th>
                <td><a class="no-decoration" href="{% url 'profile' submission.user.username %}">{{ submission.user.get_name }}</a></td>
            </tr>
            <tr>
                <th>Время</th>
                <td>{{ submission.timestamp|format_date }}</td>
            </tr>
            {% if contest %}
                <tr>
                    <th>Турнир</th>
                    <td><a class="no-decoration" href="{% url 'contest' contest.id %}">{{ contest.title }}</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Задача</th>
                <td>
                    <a class="no-decoration" href="{% if contest %} {% url 'contest_problem_detail' contest.id submission.problem.id %} {% else %} {% url 'problem_detail' submission.problem.id %} {% endif %}">
                        {{ submission.problem.title }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Ограничения</th>
                <td>Время: {{ submission.problem.time_limit }} сек, Память: {{ submission.problem.memory_limit }} МБ</td>
            </tr>
            <tr>
                <th>Состояние</th>
                <td id="submission-status">{{ submission.status.status }}</td>
            </tr>
        </table>

        <h2 class="title">Код</h2>
        <textarea id="code-input" readonly>{{ submission.content.content }}</textarea>

        <h2 class="title">Тесты</h2>
        <table class="default-table">
            <thead>
                <tr>
                    <th width="15%">Тест</th>
                    <th>Вердикт</th>
                    <th>Время</th>
                    <th>Память</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                    <tr id="test-{{ test.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <span class="status-{{ test.status|lower }}">{{ test.status }}</span>
                        </td>
                        <td>{{ test.execution_time }}</td>
                        <td>{{ test.memory_used }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/sockets.js' %}"></script>
{% endblock %}