@import 'context.css';

html, body {
    min-height: 100vh;
}

body, input, select, button {
    font-size: 12.5pt;
    font-family: var(--default-font), sans-serif;
    font-weight: 500;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='18' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 11.5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

input, select {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}

input:focus, select:focus {
    outline: 1.5px solid var(--primary-color);
}

form label {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.fi {
    display: flex;
}

.no-decoration {
    text-decoration: none;
    color: currentColor;
}

.default-btn {
    padding: 6px 9px;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.default-btn:hover {
    background-color: #f1f0f0;
}

.primary-btn {
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 9px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: fit-content;
}

.primary-btn:hover {
    opacity: 0.8;
}

.container {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 1px solid rgb(228, 228, 228);
    height: fit-content;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu .menu-content {
    display: none;
    z-index: 1;
    position: absolute;
    width: max-content;
    padding: 6px;
    border-radius: 12px;
}

.dc-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.c-wrapper {
    display: flex;
    flex-direction: column;
}

.text-muted {
    color: var(--text-muted-color);
}

.title {
    margin: 0px;
}

.italic {
    font-style: italic;
}

.default-table {
    width: 100%;
    border-collapse: collapse;
}

.default-table th {
    background-color: #f9f9f9;
}

.default-table th, .default-table td {
    padding: 12px 14px;
    border: 1px solid #e0e0e0;
}

.default-table td {
    text-align: center;
}

.default-table a {
    color: var(--link-color);
}

.default-table a:hover {
    text-decoration: underline;
}

.default-table .no-data {
    text-align: center;
    color: var(--text-muted-color);
    font-style: italic;
}

.td-forced {
    white-space: nowrap;
    width: 1%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fi.fi-rr-star {
    transition: color 0.2s;
}

.fi.fi-rr-star.golden {
    color: gold;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.green {
    color: #28a745;
}

.red {
    color: #dc3545;
}