.profile-card {
    padding: 10px 20px;
    width: 430px;
}

.profile-card .title {
    margin: 0px;
    margin-bottom: 18px;
    text-align: center;
}

.profile-card .info p {
    margin: 10px 0px;
}