@import 'context.css';

.title {
    margin-bottom: 14px;
    width: 100%;
}

.container  {
    padding: 10px 20px 14px 20px;
}

.c-wrapper {
    width: 36%;
    row-gap: 10px;
}

.profile-card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card .info {
    width: 100%;
}

.profile-card .info p {
    margin: 6px 0px;
}

.profile-card #edit-btn {
    margin-top: 6px;
}

.profile-card #edit-icon {
    font-size: 16pt;
    display: inline-block;
    vertical-align: middle;
}

.statistics {
    flex: 1;
    height: 600px;
}
