{% extends 'content_base.html' %}
{% load static %}
{% load acj_tags %}

{% block title %}
    {{ problem.title }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/problems/problem_detail.css' %}">
    <div class="container">
        <div class="info">
            <div class="dc-wrapper heading">
                <h1 class="title">Задача {% if problem_letter %}{{ problem_letter }}{% else %}{{ problem.id }}{% endif %}. {{ problem.title }}</h1>
                {% if user.is_authenticated %}
                    {% if user.is_teacher or user.is_admin %}
                        <a class="no-decoration settings-btn" href="{% url 'problem_settings' problem.id %}"><i class="fi fi-rr-settings"></i></a>
                    {% endif %}
                {% endif %}
            </div>
            <p><strong>Автор: </strong>{{ problem.author.get_name|abbreviated_name|default:"Кучерявый перец" }}</p>
            <p><strong>Ограничение по времени: </strong>{{ problem.time_limit }} сек</p>
            <p><strong>Ограничение по памяти: </strong>{{ problem.memory_limit }} МБ</p>
        </div>
        <div class="description">
            <h2 class="title">Условие</h2>
            <p>{{ problem.description|safe }}</p>
        </div>
        <div class="input-format">
            <h2 class="title">Формат входных данных</h2>
            <p>{{ problem.input_format }}</p>
        </div>
        <div  class="output-format">
            <h2 class="title">Формат выходных данных</h2>
            <p>{{ problem.output_format }}</p>
        </div>
        <div class="tests">
            <h2 class="title">Примеры тестов</h2>
            <table class="default-table tests-table">
                <thead>
                    <tr>
                        <th class="td-forced">№</th>
                        <th>Входные данные</th>
                        <th>Ожидаемый результат</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in visible_tests %}
                        <tr>
                            <td class="td-forced">{{ forloop.counter }}</td>
                            <td><pre>{{ test.stdin }}</pre></td>
                            <td><pre>{{ test.expected_output }}</pre></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="submission">
            <div class="dc-wrapper">
                <select id="language-select">
                    {% for language in languages %}
                        <option value="{{ language.language_id }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
                <input type="file" id="code-file-input"
                       accept=".c,.cs,.cpp,.go,.hs,.java,.js,.pas,.php,.py,.rs,.ts,.kt,.sql,.pl">
                <label for="code-file-input" class="primary-btn file-upload-btn">Выбрать файл</label>
            </div>
            <textarea id="code-input"></textarea>
            {% if request.user.is_authenticated %}
                {% if participant or not contest %}
                    <button class="primary-btn" id="submit-code">Отправить</button>
                {% else %}
                    <p>Присоединитесь к турниру, чтобы иметь возможность отправлять решения</p>
                {% endif %}
            {% else %}
                <p>Войдите в аккаунт, чтобы получить возможность отправить решение</p>
            {% endif %}
        </div>
        <div id="submission-status"></div>
    </div>

    <script>
        document.getElementById("code-file-input").addEventListener("change", function(event) {
            const languageExtensions = {
                ".c": 50,        // C
                ".cs": 51,       // C#
                ".cpp": 54,      // C++
                ".go": 60,       // Go
                ".hs": 61,       // Haskell
                ".java": 62,     // Java
                ".js": 63,       // JavaScript
                ".pas": 67,      // Pascal
                ".php": 68,      // PHP
                ".py": 92,       // Python
                ".rs": 73,       // Rust
                ".ts": 74,       // TypeScript
                ".kt": 78,       // Kotlin
                ".sql": 82,      // SQL
                ".pl": 85,       // Perl
            };

            const file = event.target.files[0];

            if (file) {
                const fileName = file.name;
                const fileExtension = fileName.slice(fileName.lastIndexOf(".")).toLowerCase();

                if (languageExtensions[fileExtension]) {
                    const languageId = languageExtensions[fileExtension];
                    document.getElementById("language-select").value = languageId;

                    const reader = new FileReader();
                    reader.onload = function(event) {
                        document.getElementById("code-input").value = event.target.result;
                    };
                    reader.readAsText(file);
                } else {
                    alert("Неподдерживаемое расширение файла. Пожалуйста, выберите файл с поддерживаемым расширением.");
                    event.target.value = "";
                }
            }
        });

        document.getElementById("submit-code").addEventListener("click", function() {
            const code = document.getElementById("code-input").value;
            const languageId = document.getElementById("language-select").value;

            const url = "{% if contest %}{% url 'submit_contest_code' contest.id problem.id %}{% else %}{% url 'submit_code' %}{% endif %}";
            const data = {
                {% if contest %}code: code, language_id: languageId{% else %}problem_id: {{ problem.id }}, code: code, language_id: languageId{% endif %}
            };

            axios.post(url, data, {
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                }
            })
            .then(response => {
                if (response.data.status === "success") {
                    const submissionId = response.data.submission_id;
                    const submissionDetailUrl = "{% if contest %}{% url 'submission_detail' contest.id 0 %}{% else %}#{% endif %}".replace("0", submissionId);
                    document.getElementById("submission-status").innerText = `Решение отправлено на проверку. <a href="${submissionDetailUrl}">Результаты</a>`;
                    getSubmissionStatus(response.data.submission_id);
                } else {
                    document.getElementById("submission-status").innerText = "Ошибка при отправке решения";
                }
            })
            .catch(error => {
                console.error("Ошибка при отправке кода: ", error);
                document.getElementById("submission-status").innerText = "Произошла ошибка :(";
            });
        });

        function getSubmissionStatus(submissionId) {
            const url = "{% if contest %}/contests/{{ contest.id }}/status/" + submissionId + "/{% else %}{% url 'check_status' %}?submission_id=" + submissionId + "{% endif %}";
            axios.get(url)
            .then(response => {
                if (response.data.status === "PENDING") {
                    setTimeout(() => getSubmissionStatus(submissionId), 2000);
                } else {
                    document.getElementById("submission-status").innerText = `Статус: ${response.data.status}`;
                }
            })
            .catch(error => {
                console.error("Ошибка при получении статуса: ", error);
                document.getElementById("submission-status").innerText = "Произошла ошибка при проверке статуса";
            });
        }
    </script>
{% endblock %}