{% extends 'content_base.html' %}
{% load static %}

{% block title %}
    Задачи
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/problems/problems_list.css' %}">
<div class="container problems">
    <h2 id="title">Задачи</h2>
    <table class="default-table">
        <thead>
            <tr>
                <th class="td-forced">#</th>
                <th class="text-left">Название</th>
                <th class="td-forced">Время</th>
                <th class="td-forced">Память</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
                <tr>
                    <td class="td-forced">{{ forloop.counter }}</td>
                    <td class="title">
                        <a class="no-decoration" href="{% url 'problem_detail' problem.id %}">
                            {{ problem.title }}
                        </a>
                    </td>
                    <td class="td-forced">{{ problem.time_limit }} сек</td>
                    <td class="td-forced">{{ problem.memory_limit }} МБ</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}