{% extends 'content_base.html' %}
{% load static %}
{% load acj_tags %}

{% block title %}
    Задачи
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/problems/problems_list.css' %}">
<div class="dc-wrapper">
    <div class="container search">
        <h1 class="title text-center">Поиск</h1>
        <form method="GET" action="{% url 'problems_list' %}">
            <div class="r-wrapper">
                <input type="search" name="title" placeholder="Название задачи..." value="{{ search_query }}"/>
                <button type="submit" class="primary-btn" id="search-btn"><i class="fi fi-rr-search"></i></button>
            </div>
            <select name="tag">
                <option value="">Все</option>
                {% for tag in tags %}
                    <option value="{{ tag.name }}" {% if selected_tag == tag.name %}selected{% endif %}>
                        {{ tag.name }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="container problems">
        <table class="problems-table">
            <thead>
                <tr>
                    <th class="text-left">Название</th>
                    <th width="9%">Статус</th>
                    <th width="9%">Время</th>
                    <th width="9%">Память</th>
                    <th width="26%">Тэги</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                    <tr>
                        <td class="title">
                            <a class="no-decoration" href="{% url 'problem_detail' problem.id %}">
                                {{ problem.title }}
                            </a>
                        </td>
                        <td>
                             {% if request.user.is_authenticated %}
                                {% if problem.id in problem_submissions %}
                                    {% with submission=problem_submissions|get_item:problem.id %}
                                        <a class="no-decoration no-decoration-link" href="{% url 'problem_submission_detail' submission.id %}">
                                            <span class="status-{{ submission.status|lower }}">{{ submission.status }}</span>
                                        </a>
                                    {% endwith %}
                                {% endif %}
                             {% endif %}
                        </td>
                        <td class="text-muted">{{ problem.time_limit }} сек</td>
                        <td class="text-muted">{{ problem.memory_limit }} МБ</td>
                        <td class="text-muted">
                            {% for tag in problem.fetch_tags %}
                                {{ tag.name }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not problems %}
            <p class="no-problems">Нет задач</p>
        {% endif %}
    </div>
</div>
{% endblock %}