@import '../context.css';

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 25px;
    padding: 25px;
    width: 400px;
}

.container .title {
    margin-bottom: 20px;
}

.container form ul {
    font-size: 11.5pt;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.container form label {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.container form input {
    font-size: 11.5pt;
}

.container form input[type="submit"] {
    font-size: 12.5pt;
}

.container .primary-btn {
    width: 100%;
    padding: 10px 0px;
}

.container .auth-link {
    font-size: 11.5pt;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .auth-link p {
    margin: 3px;
}

.container .auth-link a {
    color: var(--link-color);
}