@import '../context.css';

.container  {
    padding: 10px 16px 14px 16px;
}

.search {
    width: 28%;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.problems {
    flex: 1;
}

.search form .r-wrapper {
    column-gap: 6px;
}

.search form {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.search #search-btn {
    width: 48px;
    font-size: 12pt;
}

.problems-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.problems-table th, .problems-table td {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.problems-table th {
    padding: 20px 4px;
}

.problems-table td {
    padding: 14px 4px;
    text-align: center;
}

.problems-table .title {
    text-align: left;
}

.problems-table .title a {
   vertical-align: middle;
}

.problems-table tbody tr {
    transition: background-color 0.2s;
}

.problems-table tbody tr td:first-child {
    padding-left: 10px;
}

.problems-table tbody tr:hover {
    background-color: #f1f0f0;
}

.problems-table tbody tr:last-child td {
    border-bottom: none;
}

.no-problems {
    margin: 14px 0px 3px 0px;
    text-align: center;
    color: var(--text-muted-color);
    font-style: italic;
}