@import '../context.css';

.problems-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.problem-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    text-align: center;
    transition: transform 0.3s ease;
}

.problem-card h3 {
    margin-top: 0;
}

.problem-card p {
    color: #555;
}

.problem-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: rgb(75, 75, 243);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.problem-card a:hover {
    background-color: #5a3de6;
}

.problem-detail-container {
    width: 98%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.problem-detail-container h1 {
    margin-bottom: 0;
}

.problem-info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

p {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0;
}

.problem-description .problem-formats {
    display: flex;
    flex-direction: column;
}

.problem-tests {
    margin-top: 10px;
}

.problem-tests table {
    width: 30%;
    border-collapse: collapse;
    margin-top: 10px;
}

.problem-tests th, .problem-tests td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: left;
}

.problem-tests pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.code-editor {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#code-input {
    width: 100%;
    max-width: 700px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: monospace;
    font-size: 14px;
    resize: none;
}

#language-select {
    width: 200px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#submit-code {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(75, 75, 243);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 120px;
    text-align: center;
}

#submit-code:hover {
    background-color: #5a3de6;
}

#submission-status {
    margin-top: 10px;
    font-weight: lighter;
}