{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>ACJ - {% block title %} Home {% endblock %}</title>
</head>
<body>
    <header>
        <object id="logo-svg" data="{% static 'icons/logo.svg' %}" type="image/svg+xml"></object>
        <div id="header-actions">
            {% if user.is_authenticated %}
                <a class="no-decoration default-btn" href="{% url 'profile' user.username %}" >{{ user.username }}</a>
                 | 
                <a class="no-decoration default-btn" href="{% url 'login' %}">Выйти</a>
            {% else %}
                <a class="no-decoration default-btn" href="{% url 'login' %}" >Войти</a>
                 | 
                <a class="no-decoration default-btn" href="{% url 'register' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Дальневосточный федеральный университет 2024</p>
        <div id="footer-actions">
            <a class="no-decoration default-btn" href="https://github.com/AlexMarchu/ACJ">Документация</a>
            <a class="no-decoration default-btn" href="https://github.com/AlexMarchu/ACJ">Разработка</a>
        </div>
    </footer>

    <script>
        document.getElementById("logo-svg").addEventListener("click", function() {
            window.location.href = "{% url 'home' %}";
        });
    </script>
</body>
</html>