{% extends 'content_base.html' %}
{% load static %}
{% load acj_tags %}

{% block title %}
    {{ profile_owner.username }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/profiles/profile.css' %}">
    <div class="dc-wrapper">
        <div class="c-wrapper">
            <div class="container profile-card">
                <h1 class="title">{{ profile_owner.username }}</h1>
                <div class="info">
                    <p>
                        <strong>Имя: </strong>
                        {% if profile_owner.first_name %}
                            {{ profile_owner.last_name }} {{ profile_owner.first_name }}
                        {% else %}
                            Не указано
                        {% endif %}
                    </p>
                    <p>
                        <strong>Местоположение: </strong>
                        {% if profile_owner.country %}
                            {% if profile_owner.city %}
                                {{ profile_owner.country }}, {{ profile_owner.city }}
                            {% else %}
                                {{ profile_owner.country }}
                            {% endif %}
                        {% elif profile_owner.city %}
                            {{ profile_owner.city }}
                        {% else %}
                            Не указано
                        {% endif %}
                    </p>
                    <p><strong>Дата рождения: </strong>{{ profile_owner.birth_date|default_if_none:'Не указано' }}</p>
                    <p><strong>Учебное заведение: </strong>{{ profile_owner.institution|default_if_none:'Не указано' }}</p>
                    <p><strong>Зарегистрирован: </strong>{{ profile_owner.date_joined|timesince }} назад</p>
                </div>
            </div>
            {% if profile_owner == user %}
                <a id="edit-btn" class="no-decoration primary-btn" href="{% url 'settings' %}">
                    <i class="fi fi-rr-edit"></i>
                    Редактировать профиль
                </a>
            {% endif %}
        </div>
        <div class="container statistics">
            <h1 class="title">Статистика</h1>
            <table class="default-table">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Турнир</th>
                        <th>=</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participation in owner_participations %}
                        <tr>
                            <td>{{ participation.joined_at|format_date }}</td>
                            <td><a class="no-decoration" href="{% url 'contest' participation.get_contest_id %}">{{ participation.contest }}</a></td>
                            <td>{{ participation.solved_count }}/{{participation.problems_count }}</td>
                            <td>{{ participation.get_status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}