{% extends 'content_base.html' %}

{% block content %}
    <div id="navbar">
        <a class="navbar-item" id="profile-item" href="{% url 'profile' profile_owner.username %}">Профиль</a>
        {% if user == profile_owner %}
            <a class="navbar-item" id="settings-item" href="{% url 'settings' %}">Настройки</a>
        {% endif %}
        <a class="navbar-item" id="statistics-item" href="{% url 'statistics' profile_owner.username %}">Статистика</a>
    </div>
    {% block inner-content %}
    {% endblock %}
{% endblock %}