{% extends 'profiles/profile_base.html' %}
{% load static %}

{% block title %}
    Настройки
{% endblock %}

{% block inner-content %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <div class="container profile-edit">
        <h2 class="title">Редактирование профиля</h2>
        <form method="post">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <button type="submit" class="btn-primary" name="profile_submit">Сохранить</button>
        </form>

        <h2 class="title">Изменение пароля</h2>
        <form method="post">
            {% csrf_token %}
            {{ password_form.as_p }}
            <button type="submit" class="btn-primary" name="password_submit">Сохранить</button>
        </form>
    </div>
    <script>selectNavbarItem("settings");</script>
{% endblock %}