{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>ACJ - {% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block container-content %}
        {% endblock %}
    </div>
</body>
</html>