{% extends 'content_base.html' %}
{% load static %}

{% block title %}
    {{ profile_owner.username }}
{% endblock %}


{% block content %}
    <h1>{{ profile_owner.username }}</h1>

    <div>
        <p><strong>Имя:</strong> {{ profile_owner.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ profile_owner.last_name }}</p>
        <p><strong>Страна:</strong> {{ profile_owner.country }}</p>
        <p><strong>Город:</strong> {{ profile_owner.city }}</p>
        <p><strong>Вуз:</strong> {{ profile_owner.institution }}</p>
        <p><strong>Дата рождения:</strong> {{ profile_owner.birth_date }}</p>
    </div>

    {% if is_owner %}
        <div>
            <label>
                <input type="checkbox" id="profile-edit-toggle">
                Редактировать профиль
            </label>
        </div>

        <div id="profile-edit-form" style="display: none; border: 1px solid #ccc; border-radius: 10px; padding: 20px; margin-top: 20px;">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    {% endif %}

    <script>
        document.getElementById('profile-edit-toggle').addEventListener('change', function() {
            document.getElementById('profile-edit-form').style.display = this.checked ? 'block' : 'none';
        });
    </script>
{% endblock %}