@import '../context.css';

.default-table .title {
    text-align: left;
}

.status-ok,
.status-aw {
    color: green;
}

.status-wa,
.status-mr {
    color: red;
}

.status-tl,
.status-ml {
    color: orange;
}

.status-pe {
    color: yellow;
}

.status-ce {
    color: blue;
}

.status-re {
    color: purple;
}

.status-ba {
    color: black;
}

.status-unknown,
.status-np {
    color: gray;
    font-style: italic;
}

.participantion-form, .login-to-participate {
    margin: 0px;
    margin-top: 20px;
}

.participantion-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.participantion-form p {
    margin: 0px;
}