@import '../context.css';

.default-table .title {
    text-align: left;
}

.participantion-form, .login-to-participate {
    margin: 0px;
    margin-top: 20px;
}

.participantion-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.participantion-form p {
    margin: 0px;
}