@import '../context.css';

.container  {
    padding: 10px 16px 14px 16px;
}

.search {
    width: 28%;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.contests {
    flex: 1;
}

.search form {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
}

.search #search-btn {
    width: 48px;
    font-size: 12pt;
}

.search .categories {
    border-top: 1px solid rgb(224, 224, 224);
    padding-top: 12px;
}

.search .categories .default-btn {
    padding: 8px 10px;
}

.contests-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.contests-table th, .contests-table td {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.contests-table th {
    padding: 20px 4px;
}

.contests-table td {
    padding: 14px 4px;
    text-align: center;
}

.contests-table .title {
    text-align: left;
}

.contests-table .title a {
   vertical-align: middle;
}

.contests-table tbody tr {
    transition: background-color 0.2s;
}

.contests-table tbody tr td:first-child {
    padding-left: 10px;
}

.contests-table tbody tr:hover {
    background-color: #f1f0f0;
}

.contests-table .no-contests {
    text-align: center;
    color: var(--text-muted-color);
    font-style: italic;
}

.fi.fi-rr-star {
    transition: color 0.2s;
}

.fi.fi-rr-star.favorite {
    color: gold;
}