@import '../context.css';

#data-translator {
    display: none;
}

.container {
    padding: 20px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
}

.default-table {
    width: 50%;
}

.info-table td {
    text-align: left;
}

#code-input {
    box-sizing: border-box;
    width: 700px;
    height: 230px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: monospace;
    font-size: 10.5pt;
    resize: none;
}